
body{
background-image: url(IMG/noisy5.png);
margin:0 auto;
padding:0;
}
/**********************************
            BANNER
***********************************/
#banner{
background-image: url(IMG/noisy3.png);
/** box-shadow: 0px 5px 0px 0px #636363; **/
/**	box-shadow: 0px 1px 32px 0px #141414; **/
/**	box-shadow: 0px 5px 5px 0px #727272; **/
    border-bottom: 3px solid #e5e5e5!important;
}

#bannercontent{
width: 1044px;
margin: 0 auto;
position:relative;
padding: 10px 0;
}

#bannercontent img{
opacity: 0.6;
transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-webkit-transition: all 0.5s linear;
-o-transition: all 0.5s linear; 
background: url(IMG/Litto_white.png)
}

#bannercontent img:hover {
/**background: url(IMG/noisy-texture-100x100-o4-d26-c-3d3d3d-t0.png);
 **/
opacity: 0.85;    
background: url(IMG/Litto_textured.png);
}
/**********************************
            TEST
***********************************/
#image img{
height: 1500px;
width: auto;
}
/**********************************
            CONTENT
***********************************/
#content{
/**temp **//** visibility: hidden; **/
margin: 0 auto;
height: 100%;
width: 1044px;
position: relative;  
top: 20px;
padding-bottom:  500px;
/** border: 4px solid #F0F0F0 ; **/
background: #fff;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size: 80px;
/** text-shadow: 1px 1px 2px rgba(150, 150, 150, 1); **/
box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#content h1{
margin: 0 auto;
    
text-transform: uppercase;
color: #666;
line-height: 1;
}
/**********************************
            NAVIGATIE
***********************************/
#nav{
list-style:none;
float:right;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
}

#nav li{
	float:left;
	margin-left:10px;
    margin-top: 19px;
    
}
	
#nav li a{
	display: block;
	padding: 0 10px;
	text-decoration: none;
	color: #666;
	font-size: 14px;
	text-transform:uppercase;
	border-bottom:3px solid #ddd;
}	
	
#nav li a:hover{
	color: #333;
    border-bottom:3px solid #FFF;
}


/** Big mess / Drop-down menu (?) **/

#nav li ul li{
	list-style:none;
    border: 2px solid #ddd;
	float:left;
    width: 100px;
    padding: 3px 10px 0px 0px;
    margin: 0;
    visibility: visible;
}

#nav li ul li:hover{

}

